<div class="h-screen w-screen bg-gray-900 flex flex-col overflow-hidden">
  <app-page-header
    (usernameChange)="onUsernameChange($event)"
    (connectionChange)="onConnectionChange($event)"
  />


  @if (appState.connected) {
    <div class="flex flex-1 overflow-hidden">
      <app-sidebar class="h-full" />

      <chat-area
        class="flex-1 h-full"
        [selectedChat]="appState.selectedChat"
        [messages]="messages"
        [inputMensagem]="inputMensagem"
        (messageSend)="onMessageSend()"
        (messageInputChange)="onMessageInputChange($event)"
        (keyPress)="onKeyPress($event)"
      />
    </div>
  }
</div>
