<div class="w-80 h-full bg-gray-900 border-r border-gray-700 flex flex-col">
  <div class="p-4 border-b border-gray-700">
    <div class="flex gap-2">
      <toggle-button [isActive]="activeView === 'chat'" (onClick)="onViewChange('chat')">
        {{ 'CONVERSATIONS' | translate }}
      </toggle-button>

      <toggle-button
        [isActive]="activeView === 'available-users'"
        (onClick)="onViewChange('available-users')"
      >
        {{ 'AVAILABLE_USERS' | translate }}
      </toggle-button>

      <toggle-button
        [isActive]="activeView === 'available-groups'"
        (onClick)="onViewChange('available-groups')"
      >
        {{ 'AVAILABLE_GROUPS' | translate }}
      </toggle-button>
    </div>
  </div>

  <div class="flex-1 overflow-y-auto">
    @if (activeView === 'chat') {
      <user-list />
      <group-list />
    }

    @if (activeView === 'available-users') {
      <available-users />
    }

    @if (activeView === 'available-groups') {
      <available-groups />
    }
  </div>

  <group-modal
    [showModal]="showCreateGroupModal"
    [newGroupName]="newGroupName"
    (modalClose)="onModalClose()"
    (groupCreate)="onModalGroupCreate()"
  />
</div>
